[submodule "unimatch"]
	path = foels/ext/unimatch
	url = git@github.com:MasahiroOgawa/unimatch.git
[submodule "InternImage"]
	path = foels/ext/InternImage
	url = git@github.com:MasahiroOgawa/InternImage.git
[submodule "cityscapesScripts"]
	path = foels/ext/cityscapesScripts
	url = https://github.com/mcordts/cityscapesScripts.git
[submodule "unsupervised_detection"]
	path = foels/ext/unsupervised_detection
	url = git@github.com:MasahiroOgawa/unsupervised_detection.git
[submodule "foels/ext/memflow"]
	path = foels/ext/memflow
	url = https://github.com/DQiaole/MemFlow.git
